*{
    background-color: #213b50;
   
}

input[type="text"]
{
    background-color:#2b4a64;
        border:none;

}

input[type="email"]
{
    background-color: #2b4a64;

}
input[type="checkbox"]
{
    background-color: #2b4a64;
}
input[type="submit"]
{
    background-color: chartreuse;
    font-size:2em;
    color: white;
    border: none;
}
textarea[type="text"]
{background-color: #2b4a64;
border:none;}

input:active
{ background-color: #4e708c;
border: solid white;
color:white;}

